<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<html>
<head>
    <title></title>
</head>
<body>
    @RenderPage("navbar.cshtml")
    <div class="container-fluid">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="row">
            <div class="col-md-9">
                <div style="width:100%;height:105px;border-width:1px;border-bottom-style:double;border-bottom-color:#eeeeee">
                    <h2 style="margin-left:30%;color:#373e4a"> Hospital Managment  System</h2>
                    <a style="color:black;margin-left:90%" href="~/logout.cshtml"> Logout <img style="width:20px;height:20px" src="css/logout.png" /> </a>
                </div>
                <div style="margin-top:20px"></div>
                <img src="css/right.png" style="display:inline; width:25px;height:25px" /> <h4 style="display:inline">Doctor</h4>
                <h1></h1>
                <div class="container">
                    <form class="form-horizontal" method="post" action="">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Floor No:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="floor" placeholder="Enter Floor No">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Ward No:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="ward" placeholder="Enter ward No">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Bed No:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="bed" placeholder="Enter bed No">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Rate:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="rate" placeholder="Enter Rate">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    @{
        if (IsPost)
        {
            var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
            var cmd = connection.CreateCommand();
            connection.Open();
            var floor = Request["floor"];
            var ward = Request["ward"];
            var bed = Request["bed"];
            var rate = Request["rate"];
            cmd.CommandText = "INSERT INTO bed VALUES  (@floor, @ward,@bed, @rate,'Free')";
            SqlParameter p1 = new SqlParameter("@floor", SqlDbType.Int);
            p1.Value = @floor;
            cmd.Parameters.Add(p1);
            SqlParameter p2 = new SqlParameter("@ward", SqlDbType.Int);
            p2.Value = @ward;
            cmd.Parameters.Add(p2);
            SqlParameter p3 = new SqlParameter("@bed", SqlDbType.Int);
            p3.Value = @bed;
            cmd.Parameters.Add(p3);
            SqlParameter p4 = new SqlParameter("@rate", SqlDbType.Int);
            p4.Value = @rate;
            cmd.Parameters.Add(p4);
            cmd.ExecuteNonQuery();
            connection.Close();
        }
    }
</body>
</html>