<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    function update(id,floor,cabin) {
        var total = document.getElementById("total").value;
        var release = document.getElementById("release").value;
        var info = [];
        info.push(id);
        info.push(total);
        info.push(release);
        info.push(floor);
        info.push(cabin);
        $.ajax({
            type: "POST",
            url: "update_cabinbill",
            data: JSON.stringify(info),
            datatype: "html",
            success: function () {
                alert("updated");
            }
        });
    };
    function func(id) {
        document.getElementById("appoint").href = "appointment.cshtml?id=" + id;
        document.getElementById("check").href = "doctor_fee.cshtml?id=" + id;
        document.getElementById("admit_cabin").href = "admit_cabin.cshtml?id=" + id;
        document.getElementById("admit_bed").href = "admit_bed.cshtml?id=" + id;
        document.getElementById("med").href = "buy_medicine.cshtml?id=" + id;
        document.getElementById("diag").href = "patient_diagnosis.cshtml?id=" + id;
        document.getElementById("cabin_bill").href = "Cabin Bill.cshtml?id=" + id;
        document.getElementById("bed_bill").href = "Bed Bill.cshtml?id=" + id;
        document.getElementById("medicine_bill").href = "medicine_bill.cshtml?id=" + id;
        document.getElementById("diagnosis_bill").href = "diagnosis_bill.cshtml?id=" + id;
        document.getElementById("cabin_bed_bill").href = "checkup.cshtml?id=" + id;
    };
</script>
<html>
<head>
    <title></title>
</head>
<body>
    @RenderPage("sidebar.cshtml")
    @{
        var id = (string)Request["id"];
        <script>
            func(@id);
        </script>
    }
    <div class="container-fluid" style="display:inline">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="col-md-9">
            <div style="width:100%;height:83px;border-width:1px;border-bottom-style:double;border-bottom-color:#eeeeee">
                <h2 style="margin-left:30%;margin-top:-2px; color:#373e4a"> Hospital Managment  System</h2>
                <a style="color:black;margin-left:90%" href="~/logout.cshtmlc"> Logout <img style="width:20px;height:20px" src="css/logout.png" /> </a>
            </div>
            <div style="margin-top:20px"></div>
            <img src="css/right.png" style="display:inline; width:25px;height:25px" /> <h4 style="display:inline">Cabin</h4>    
            @{
                var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
                var cmd = connection.CreateCommand();
                connection.Open();
                cmd.CommandText = "select * from patient_admits_cabin,patient where patient.patient_id = patient_admits_cabin.patient_id and patient_admits_cabin.release is null and patient.patient_id = " + @id ;
                var row = cmd.ExecuteReader();
            }
              @{
                  if( row.Read()){
                    var floor = row["floor_no"];
                    var cabin = row["cabin_no"];  
                    var admission = Convert.ToDateTime(row["admission"]).ToString("dd/MM/yyyy");
                    <div class="container">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Patient Name:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="1" readonly> @row["patient_name"]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Floor No:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="1" readonly> @row["floor_no"]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Cabin No:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="1" readonly> @row["cabin_no"]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Admission Date:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="1" readonly> @admission </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Total Days:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="1" id="total"> @row["total_days"]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="control-label col-sm-2">Release Date:</label>
                                  <div class="col-sm-6">
                                        <input type="date" class="form-control" id="release"  />
                                   </div>
                           </div>
                         </form>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" onclick="update(@id,@floor,@cabin)"> Update</button>
                    </div>

                </div>
              }
            }
        </div>
    </div>
</body>
</html>