<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    function func(id) {
        document.getElementById("appoint").href = "appointment.cshtml?id=" + id;
        document.getElementById("check").href = "doctor_fee.cshtml?id=" + id;
        document.getElementById("admit_cabin").href = "admit_cabin.cshtml?id=" + id;
        document.getElementById("admit_bed").href = "admit_bed.cshtml?id=" + id;
        document.getElementById("med").href = "buy_medicine.cshtml?id=" + id;
        document.getElementById("diag").href = "patient_diagnosis.cshtml?id=" + id;
        document.getElementById("cabin_bill").href = "Cabin Bill.cshtml?id=" + id;
        document.getElementById("bed_bill").href = "Bed Bill.cshtml?id=" + id;
        document.getElementById("medicine_bill").href = "medicine_bill.cshtml?id=" + id;
        document.getElementById("diagnosis_bill").href = "diagnosis_bill.cshtml?id=" + id;
        document.getElementById("cabin_bed_bill").href = "checkup.cshtml?id=" + id;
    };
</script>
<html>
<head>
    <title></title>
</head>
<body>
    @RenderPage("sidebar.cshtml")
    @{
        var id = (string)Request["id"];
        <script>
            func(@id);
        </script>
    }
    <div class="container-fluid">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="col-md-9">
            <div style="width:100%;height:83px;border-width:1px;border-bottom-style:double;border-bottom-color:#eeeeee">
                <h2 style="margin-left:30%;color:#373e4a"> Hospital Managment  System</h2>
                <a style="color:black;margin-left:90%" href="~/logout.cshtml"> Logout <img style="width:20px;height:20px" src="css/logout.png" /> </a>
            </div>
            <div style="margin-top:20px"></div>
            <img src="css/right.png" style="display:inline; width:25px;height:25px" /> <h4 style="display:inline">Patient Bill</h4>
            @{
                var total = 0;
                var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
                var cmd = connection.CreateCommand();
                connection.Open();
                cmd.CommandText = "select * from diagnosis,patient_diagnosis where diagnosis.diagnosis_id = patient_diagnosis.diagnosis_id and patient_id = " + @id;
                var row = cmd.ExecuteReader();
            }
            <table style="margin-top:20px" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Diagnosis Name</th>
                        <th>Diagnosis Rate</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @while (row.Read())
                    {
                        var name = (string)@row["diagnosis_name"];
                        var price = (int)@row["rate"];
                        var date = Convert.ToDateTime(row["test_date"]).ToString("dd/MM/yyyy");
                        total = total + price;
                        <tr style="color:#a7a7a7"> <td> @name</td> <td>@price</td><td> @date</td></tr>
                    }
                </tbody>
                <tr style="color:#a7a7a7"><td>Total Diagnosis Bill: </td> <td> @total </td></tr>
            </table>
        </div>
    </div>
</body>
</html>