<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<html>
<head>
    <title></title>
</head>
<body>
    @RenderPage("navbar.cshtml")
    <div class="container-fluid">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="row">
            <div class="col-md-9">
                <div style="width:100%;height:105px;border-width:1px;border-bottom-style:double;border-bottom-color:#eeeeee">
                    <h2 style="margin-left:30%;color:#373e4a"> Hospital Managment  System</h2>
                    <a style="color:black;margin-left:90%" href="~/logout.cshtml"> Logout <img style="width:20px;height:20px" src="css/logout.png" /> </a>
                </div>
                <div style="margin-top:20px"></div>
                <img src="css/right.png" style="display:inline; width:25px;height:25px" /> <h4 style="display:inline">Doctor</h4>
                <h1></h1>
                <div class="container">
                    <form class="form-horizontal" method="post" action="">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Full Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="employee" placeholder="Enter Full Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Type:</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="type">
                                    <option>Nurse</option>
                                    <option>Ward-Boy</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Salary:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="salary" placeholder="Enter Salary">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Joining-Date:</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" name="join">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    @{
        if (IsPost)
        {
            var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
            var cmd = connection.CreateCommand();
            connection.Open();
            var a = 0;
            var name = Request["employee"];
            var type = Request["type"];
            var salary = Request["salary"];
            var join = Request["join"];
            cmd.CommandText = "select count(employee_id) as total from employee";
            var row = cmd.ExecuteReader();
            if (row.Read())
            {
                a = (int)row["total"];
            }
            var id = @a + 1;
            row.Close();
            cmd.CommandText = "INSERT INTO employee  (employee_id,employee_name,employee_type,salary,joining_date) VALUES  (@id, @name, @type,@salary,@join)";
            SqlParameter p1 = new SqlParameter("@id", SqlDbType.Int);
            p1.Value = @id;
            cmd.Parameters.Add(p1);
            SqlParameter p2 = new SqlParameter("@name", SqlDbType.VarChar);
            p2.Value = @name;
            cmd.Parameters.Add(p2);
            SqlParameter p3 = new SqlParameter("@type", SqlDbType.VarChar);
            p3.Value = @type;
            cmd.Parameters.Add(p3);
            SqlParameter p4 = new SqlParameter("@salary", SqlDbType.Int);
            p4.Value = @salary;
            cmd.Parameters.Add(p4);
            SqlParameter p5 = new SqlParameter("@join", SqlDbType.Date);
            p5.Value = @join;
            cmd.Parameters.Add(p5);
            cmd.ExecuteNonQuery();
            connection.Close();   
        }
    }
</body>
</html>
