<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<html>
<head>
    <title></title>
</head>
<body>
    @{
        string json;
        using (var reader = new StreamReader(Request.InputStream))
        {
            json = reader.ReadToEnd();
        }
        var info = Json.Decode(json);
        var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
        var cmd = connection.CreateCommand();
        connection.Open();
        var id = info[0];
        var name = info[1];
        var des = info[2];
        var rate = info[3];
        cmd.CommandText = "update diagnosis set diagnosis_name =  @name, diagnosis_description = @des , rate =  @rate where diagnosis_id = @id";
        SqlParameter p1 = new SqlParameter("@name", SqlDbType.VarChar);
        p1.Value = @name;
        cmd.Parameters.Add(p1);
        SqlParameter p2 = new SqlParameter("@des", SqlDbType.VarChar);
        p2.Value = @des;
        cmd.Parameters.Add(p2);
        SqlParameter p3 = new SqlParameter("@rate", SqlDbType.Int);
        p3.Value = @rate;
        cmd.Parameters.Add(p3);
        SqlParameter p4 = new SqlParameter("@id", SqlDbType.Int);
        p4.Value = @id;
        cmd.Parameters.Add(p4);
        cmd.ExecuteNonQuery();
        connection.Close();
    }
</body>
</html>
