<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<html>
<head>
    <title></title>
</head>
<body>
    @{
        string json;
        using (var reader = new StreamReader(Request.InputStream))
        {
            json = reader.ReadToEnd();
        }
        var info = Json.Decode(json);
        var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
        var cmd = connection.CreateCommand();
        connection.Open();
        var floor = info[0];
        var ward = info[1];
        var bed = info[2];
        var rate = info[3];
        cmd.CommandText = "update bed set rate =  @rate where floor_no = @floor and ward_no = @ward and bed_no = @bed";
        SqlParameter p1 = new SqlParameter("@rate", SqlDbType.Int);
        p1.Value = @rate;
        cmd.Parameters.Add(p1);
        SqlParameter p2 = new SqlParameter("@floor", SqlDbType.Int);
        p2.Value = @floor;
        cmd.Parameters.Add(p2);
        SqlParameter p3 = new SqlParameter("@ward", SqlDbType.Int);
        p3.Value = @ward;
        cmd.Parameters.Add(p3);
        SqlParameter p4 = new SqlParameter("@bed", SqlDbType.Int);
        p4.Value = @bed;
        cmd.Parameters.Add(p4);
        cmd.ExecuteNonQuery();
        connection.Close();
    }
</body>
</html>
