<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
<html>
    <head>
        <title></title>
    </head>
    <body>
       @{
           string json;
           using (var reader = new StreamReader(Request.InputStream))
           {
               json = reader.ReadToEnd();
           }
           var  info = Json.Decode(json);
           var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
           var cmd = connection.CreateCommand();
           connection.Open();
           var id = info[0];
           var name = info[1];
           var address = info[2];
           var age = info[3];
           var gender = info[4];
           var mobile = info[5];
           var blood = info[6];
           var release = (string) info[7];
           if (release == "") { 
              cmd.CommandText = "update patient set patient_name =  @name, patient_address = @address, gender = @gender, age = @age, blood = @blood , mobile = @mobile where patient_id = @id";
           }
           else
           {
               cmd.CommandText = "update patient set patient_name =  @name, patient_address = @address, gender = @gender, age = @age, blood = @blood , mobile = @mobile , release=@release where patient_id = @id"; 
           }
           SqlParameter p1 = new SqlParameter("@name", SqlDbType.VarChar);
           p1.Value = @name;
           cmd.Parameters.Add(p1);

           SqlParameter p2 = new SqlParameter("@address", SqlDbType.VarChar);
           p2.Value = @address;
           cmd.Parameters.Add(p2);

           SqlParameter p3 = new SqlParameter("@gender", SqlDbType.VarChar);
           p3.Value = @gender;
           cmd.Parameters.Add(p3);

           SqlParameter p4 = new SqlParameter("@age", SqlDbType.VarChar);
           p4.Value = @age;
           cmd.Parameters.Add(p4);

           SqlParameter p5 = new SqlParameter("@blood", SqlDbType.VarChar);
           p5.Value = @blood;
           cmd.Parameters.Add(p5);

           SqlParameter p6 = new SqlParameter("@mobile", SqlDbType.VarChar);
           p6.Value = @mobile;
           cmd.Parameters.Add(p6);
           }
           @{
            if (release != "") {

                SqlParameter p8 = new SqlParameter("@release", SqlDbType.Date);
                p8.Value = @release;
                cmd.Parameters.Add(p8);
            }
           
            
           SqlParameter p7 = new SqlParameter("@id", SqlDbType.Int);
           p7.Value = @id;
           cmd.Parameters.Add(p7);

           cmd.ExecuteNonQuery();
           connection.Close();
    }
    </body>
</html>
